<section class="faq">
  <div class="cards">
    <div class="card1">
      <h2>PHILOSOPHY</h2>
      <h1> We have always been <em>Committed</em> to providing <br> Clients and their Loved One  <br><br>     <em> …with the best possible Care</em></h1>
      <span class="jed">We will do everything we can to help you providing sensitive and <br>professional support to help you organise a unique funeral.</span>
      <p class="dwa">All our staff are professionally trained to the highest standards and understand the <br> needs and feelings of the bereaved and the importance of spending time helping <br>families to plan a funeral that truly reflects the life of an individual.<p>
    </div>
    <div class="card2">
      <h1>Our Promise to You</h1>
      <ul>
        <li>
Our Promise is to help you arrange or plan a funeral with care, <br>respect, clarity and reassurance.
</li>
        <li>
Our team of professionals are here to listen, advise and guide <br> you through all your options.
</li>
        <li>
We’re available 24 hours a day, 7 days a week so you’ll always <br> have someone to talk to.
</li>
        <li>
We’re here, we understand how difficult this can be and we promise <br>to help you at every step of the way.
</li>
      </ul>
    </div>
  </div>
</section>