<section class="services">
  <h1>Requiem Funeral Home</h1>
  <h2>We will do <em>everything</em> we can to help you <br> organise a Unique Funeral</h2>
  <span>
      We know how difficult and disorientating it can be when someone you love dies, we’re here to help. We’ll guide <br> you through all the different things you’ll need to think about, decide and do. From what to do when someone <br>dies, through the ceremony and on to what happens after the funeral.
</span>
  <div class="cards">
    <div class="card1">
      <h3>Send Condolences</h3>
      <p>If you are unable to attend a funeral or would you like to send a condolence message, feel free to use our online condolence form. We’ll be sure the family receives it.</p>
      <button>Let Them Know You Care</button>
    </div>
    <div class="card2">
      <h3>Send Flowers</h3>
      <p>Our creative floral expert will assist you in selecting arrangements to suit your needs and assure your family’s wishes</p>
      <button>Flower Collection</button>
    </div>
  </div>
</section>
