
<section class="hero">
  <div class="aaa">
 <a href="">Home</a>     
 <a href="">About Us</a>  
 <a href="">Services</a>  
 <a href="">Plan Ahead</a>  
 <a href="">Resources</a>  
 <a href="">Merchandise</a>  
 <fa-icon class="rabab" [icon]="faMagnifyingGlass" /> 
 <fa-icon class="ababa" [icon]="faShoppingCart" /> 
 <button class="bubon">Emergency Call</button>
 </div>
  <div class="hero__overlay">
    <div class="hero__content">
      <h2 class="hero_box">Independent Family Funeral Directors Since 1965</h2>
      <h1 class="hero__title">
        Funeral plans to help you <span><br/> do right by your family!</span>
      </h1>
      <p class="hero__subtitle">
        We are experienced and practised in arranging services for all religious denominations and beliefs, as well as secular ceremonies, and aim to provide all our clients with a respectful and bespoke service.
      </p>
      <div class="hero__buttons">
        <button class="primary-btn">Get in Touch with Us</button>
        <span class="phone">(515) 655-8055</span>
      </div>
    </div>
  </div>
</section>
